*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1056d0;
}
.box{
    position:relative; 
    width:380px;
    height:420px;
    background: #04576a78;
    border-radius: 10px;
    overflow: hidden;
}
.box::before{
    content:'';
    position: absolute;
    top:-50px;
    left:-50px;
    width:380px;
    height:420px;
    background: linear-gradient(5deg , transparent,
    #a71125 ,#a71125 );
    transform-origin:bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content:'';
    position: absolute;
    top:-50px;
    left:-50px;
    width:380px;
    height:420px;
    background: linear-gradient(5deg , transparent,
    #a71125,#a71125 );
    transform-origin:bottom right;
    animation: animate 6s linear infinite;
    animation-delay:-3s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.form{
    position:absolute;
    inset:5px;
    border-radius: 8px;
    background: #28242d;
    z-index: 10;
}

h1 {
	font-weight: bold;
	margin: 0;
}
form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	width:380px;
    height:420px;
	text-align: center;
}
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	
}
button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button {
	background-color: transparent;
	border-color: #FFFFFF;
}
